body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*, *::after, *::before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header___logo {
	font-size: 30px;
	font-weight: 700;
	color: rgb(44, 230, 16);
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: rgb(44, 230, 16);
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}