body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*, *:after, *:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Menu*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color:#fff;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}

/*Content*/
.simplepage {
	display:flex;
	flex-direction: column;
	justify-content: center;
	
	width: 100%;
	height: 100vh;
	
	background: url("../img/bgf.jpg") center no-repeat;
	background-size: cover;
}

.simplepage__inner {
	width: 100px;
	min-width: 880px;
	margin: 0 auto;
}

.simplepage__title {
	font-size: 150px;
	font-weight: 700;

	text-transform: uppercase;
	text-align: center;
	color:#fff;
}

.welcome {
	text-align: center;
	color: #333;
}

.time {
	display: flex;
	justify-content: center;
}