body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*, *:after, *:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

/*Menu*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color:#fff;
	text-decoration: none;
	position: relative;

	transition: color .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}
.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	display: none;

	background-color: #fce38a;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}
.nav__link:hover:after {
	display: block;
}
.nav__active {
	color: #fce38a;
}

/*Content*/
.simplepage {
	display:flex;
	flex-direction: column;
	justify-content: center;
	
	width: 100%;
	height: 100vh;
	
	background: url("../img/bgf.jpg") center no-repeat;
	background-size: cover;
}

.simplepage__inner {
	width: 100px;
	min-width: 580px;
	margin: 0 auto;
}

.simplepage__title {
	font-size: 150px;
	font-weight: 700;

	text-transform: uppercase;
	text-align: center;
	color:#fff;
}

.welcome {
	margin: 0 auto;
	color: #333;
}

.welcome__title{
	color: #fff;
}

.time {
	display: flex;
	justify-content: center;
}

.time__text {
	padding-right: 10px;
}

.Form {
	width: 340px;
	height: 320px;
	padding: 0px 0 20px 0;
	border-radius: 5px;
	/* border: 1px solid #aaaaaa; */
	margin: 0 auto;
  }

form {
	margin: 0 auto;
}
.label_title {
	padding-bottom: 10px;
}

.label_span {
	color: #ccc;
	font-size: 20px;
}

label {
	display: inline-block;
	margin-top: 8px;
	font-size: 14px;
}


input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

input[type=name],
input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

input[type=submit] {
	margin: 14px auto 14px auto;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

.login_btn span {
	font-size: 14px;
	font-weight: bold;
	color: rgb(15, 66, 148);
	cursor: pointer;
	text-decoration: underline;
}

.login_btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
}
/* 
.login_link {
	padding-top: 25px;
	margin-left: 20px;
	text-align: left;

	cursor: pointer;
} */

.btn-reg-send {
	margin: 14px auto 14px auto;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

.success {
	color: rgb(34, 98, 55)
}

.warning {
	color: rgba(194, 73, 73, 1)
}

.contact, .about {
	width: 100%;
	height: 300px;
	background-color: #fff;
	overflow:hidden;
	overflow-y:auto;
}

.conact__mainInfo {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	padding-left: 10px;
}
.btn__contact {
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(132, 126, 121, 0.367);
	margin: 14px auto 14px auto;
	padding-top: 4px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}